<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <div>
        <h2>Привет!</h2>
        <p>У нас для вас отличные новости: уже совсем скоро начнется программа "{{ program_name }}" на канале "{{ channel }}".</p>
        <p>Не упустите возможность посмотреть!</p>
        <p>Время начала: {{ time }}</p>
        <p>Ссылка на трансляцию: <a href="{{ link }}" target="_blank">{{ link }}</a></p>
    </div>
</body>
</html>
